.Page {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
    font-family: Arial, Geneva, Helvetica, sans-serif;
}

.Form {
    background-color: #f9f7f4;
}

.Loan-Type {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-bottom: 25px;
}

.Loan-Type label {
    font-size: 15px;
}

.Loan-Type select {
    height: 40px; 
    width: 400px;
}

.continue-return-buttons
{
    display: flex;
    padding-left: 25px;
    padding-bottom: 100px;
}

.continue-return-buttons button
{
    border: none;
    margin-top: 25px;
    margin-right: 25px;
    font-size: 24px;
}

.continue-return-buttons .continue-button:hover
{
    cursor:pointer;
    background-color: #2E2EFF;
}

.continue-return-buttons .continue-button 
{
    width: 160px;
    height: 60px;
    background-color: #0052C2;
    color: #fff;
}

.continue-return-buttons .return-to-overview-button:hover
{
    cursor:pointer;
    color: #2E2EFF;
}

.continue-return-buttons .return-to-overview-button
{
    width: 260px;
    height: 60px;
    background-color: #fff;
    color: #0052C2;
}

ul {
    font-size: 0px;
}

h2 {
    color: #012169;
    padding-top: 40px;
    padding-left: 30px;
    padding-bottom: 20px;
    font-size: 20px;
}

h3 {
    color: #6b5e51;
    padding-left: 30px;
} 

hr {
    margin: 30px;
}
